<div class='container'>
<h1>Contact App v4</h1>
  <div class='four column'>
    <form>
      <label>First Name:</label>
      <input type='text' name='name' id='first_name'>
      <label>Last Name:</label>
      <input type='text' name='name' id='last_name'>
      <label>E-mail:</label>
      <input type='text' name='name' id='email'>
      <label>Phone number:</label>
      <input type='text' name='name' id='phone_number'>
      <label></label>
      <button class='button' type='submit'>Add contact</button>
    </form>  
  </div>
</div>
